.App {
  height: calc(100vh - 3rem);
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  background-color: var(--color-2);
  //BACKGROUND IMAGE LOADED IN INDEX.SCSS TO TOGGLE ON DATA THEME
  background-repeat: no-repeat;
  background-size: 100% 35vh;
  //COMMON CHECKBOX STYLING FOR HEAER AND LIST
  .todo-checkbox,
  .input-checkbox {
    border-radius: 50%;
    padding: 0.3rem;
    border: 1px solid hsl(234, 11%, 52%);
  }
  .bottom-text {
    margin-top: 2rem;
    color: var(--color-4);
  }
}
